* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2F1E7;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #7c7c7c
}

.contactFormContainer {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.flexField {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chkField {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.label::after {
    content: "* ";
    color: red;
    margin-left: 4px;
}

h2 {
    color: #464646;
    font-weight:600;
    margin-bottom: 15px;
}

.label {
    font-size: 0.80rem;
    margin-bottom: 5px;
}

.chkLabel {
    margin-bottom: 0;
}

fieldset {
    border: none;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-label {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 0.80rem;
    margin-bottom: 5px;
}


input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #ccc;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
    background-color: #0A7E69; /* Background color when checked */
  border-color: #0A7E69; 
  /* border: 6px solid #0A7E69; */
}

input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 10px; /* Size of the inner dot */
  height: 10px;
  border-radius: 50%;
  background-color: #fff; /* Color of the inner dot */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .radioFlex {
    display: flex;
    gap: 10px;
}

.radioField {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 15px;
} */

.contactName {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
textarea {
    height: auto;
    resize: unset;
}

input[type="checkbox"] + label {
  margin-left: 8px;
}

button {
    padding: 10px;
    background-color: #0A7E69;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

span.noError {
    display: none;
}

span.error {
    display: block;
    color: red;
    font-size: 0.75rem;
    height: 14px;
}

/* mobile design */
@media (max-width: 600px) {
    .contactFormContainer {
        padding: 15px;
    }

    .contactName,.radio-group {
        flex-direction: column;
    }
}